* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightseagreen;
}

.section {
    border-radius: 5px;
    filter: drop-shadow(5px 5px #00000030);
    border: solid 3px blanchedalmond;
    margin: 24px auto;
    display: block;
    background-color: cornsilk;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recipe-card, .recipe-language, .page-title, .page-subtitle {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h1, h2 {
    color: cornsilk;
}

.ingredients, .instructions, .other-information, .recipe-card {
    width: 70%;
    margin: 40px auto;
    padding:30px 50px;
    color: #CCAF80;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.ingredients h2, .instructions h2, .other-information h2 {
    color: #CCAF80;
    margin-bottom: 12px;
}

.ingredients h3, .instructions h3, .other-information h3 {
    margin-top: 24px;
}

ul, ol {
    margin-left: 24px
}

.page-title {
    font-family: "Brush Script MT", sans-serif;
    font-size: 64px;
    filter:drop-shadow(2px 2px #00000030);
}

.page-subtitle {

}

.recipe-card {
    list-style: none;
    color: #CCAF8080;
}

.recipe-card a {
    color: #CCAF80;
}

.recipe-card a:hover {
    color: #B37C24;
}

.source, .back-to-index {
    background-color: #B37C24;
    color: cornsilk;
    margin: 0 auto;
    padding: 20px;
    width: 40%;
    margin-bottom: 40px;
    text-align: center;
}

.source a, .back-to-index a {
    color: blanchedalmond
}